* { margin: 0;
    padding: 10px
}

body {
background-color: grey;
}

.thin {
    text-align: center;
    width: 80%;
}

nav ul {
    text-align: center;
}

nav ul li {
    display: inline;
    text-align: center;
}


h1, h2 {
    text-align: center;
}


#about_me, #background {
    width: 47%;
    float: left;
}

table {
    border-spacing: 2px;
    left:40%;
    position:relative;
}

table, th, td {
    border: 1px solid black;
    
}

th, td {
    padding: 10px;
}


th {
    text-align: left;
}






